{% extends "@FollowMeBundle/Resources/views/base.html.twig" %}

{% block title %}Follow Me{% endblock %}

{% block body %}
<h1 style="text-align: center">Follow Me</h1>
<hr />

{{ render_esi(controller('FollowMeBundle:Main:banner')) }}




{% endblock %}
