{% extends "@FollowMeBundle/Resources/views/nav.html.twig" %}

{% block title %}Gestionnaire des utilisateurs{% endblock %}

{% block body %}

<h1 style="text-align: center">Gestionnaire des utilisateurs</h1>

{% if id %}
<div class="alert alert-success container-fluid col-xs-4 col-xs-offset-4" style="margin-top: 1.5em">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" >
        &times;
    </a>
    <h5 style="text-align: center">Vous avez bien supprimé l'utilisateur {{ id }}</h5>
</div>
{% endif %}

<hr class="col-xs-10 col-xs-offset-1" />

<div class="row">

{% for user in users %}

<div class="col-xs-12">
    <h3 class="col-xs-4 col-xs-offset-4">
        {{ user.getUserId() }}/
        <small>{{ user.getUserMail() }}</small>
    </h3>
    <div class="col-xs-4">
        <a class="btn btn-warning glyphicon glyphicon-ban-circle"></a>
{% if is_granted('ROLE_SUPER_ADMIN')%}
        <a class="btn btn-danger glyphicon glyphicon-remove"
        href="{{ path('admin_user', {'id': user.getUserId() }) }}"></a>
    </div>
{% endif %}
</div>
{% endfor %}
</div>

{% set results = users %}

<hr class="col-xs-10 col-xs-offset-1" />

{% include "@FollowMeBundle/Resources/views/_ui/page.html.twig" %}

<hr class="col-xs-10 col-xs-offset-1" />
<br />

{% endblock %}
